body{
    background-image: url('./bahan/1.jpg');
    margin: 0%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color: rgba(4, 239, 247, 0.856);
    text-align: center;
    font-size: 60px;
}
header {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 99;
    background: rgba(68, 65, 65, 0.918);
}

.nav-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.nav-right li {
    text-decoration: none;
    list-style: none;
}

.nav-right li a {
    text-decoration: none;
}

section#login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


.link-button{
    display: flex;
    background-color: rgb(16, 36, 211);
    color: white;
    width: 50%;
    padding: 12px 5px;
    border: none ;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    font-size: 15px;

}
