body{
<<<<<<< HEAD
    background-image: url('./bahan/1.jpg');
=======
    background-image: url('./pweb/1.jpg');
>>>>>>> b80e2b95aab1055bc5106066e71888acbcfe4dfb
    margin: 0%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
li {
    float: right;
}
li b {
    font-size: 20pt;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
input{
    width: 100%;
    padding: 12px 5px;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px; 
}
a{
    color: grey;
    font-size: 7pt;
    text-align: center;
    font-family: sans-serif;
}
.grid-container{
    display: grid;
    grid-template-columns: 600px auto;
}
.grid{
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

section#login_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    background: rgb(138, 212, 241);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 400px;
    margin: auto;
    width: 400px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#card-title{
    font-family: sans-serif;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 13px;
    text-align: center;
} 
#p1{
    font-family: sarala, salsa, sans-serif;
    font-size: 10px;
    text-align: center;
}

.button-login{
<<<<<<< HEAD
    display: flex;
=======
>>>>>>> b80e2b95aab1055bc5106066e71888acbcfe4dfb
    background-color: rgb(16, 36, 211);
    color: white;
    width: 50%;
    padding: 12px 5px;
    border: 0 ;
    border-radius: 10px;
    cursor: pointer;
<<<<<<< HEAD
    justify-content: center;
    margin: 0 auto;
}
=======
    align-items: center;
}
#Projek-pweb
#Projek-pweb
>>>>>>> b80e2b95aab1055bc5106066e71888acbcfe4dfb
